[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:Beatlesso/learning-cxx.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = git@github.com:Beatlesso/TinyInfiniTensor.git
